body {
    font-family: 'Michroma', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 34px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /*general*/
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 10px;
  }
  
  h5 {
    font-size: 15px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Michroma', sans-serif;
    color: black;
  }
  
  h1 {
    padding-bottom: 5px;
    font-size: 40px;
    line-height: 49px;
  }
  
  h2,
  h3 {
    font-size: 28px;
  }
  
  
  /*header*/
 
  
  #navBar {
    background-color: #343a40;
    height: 100px;
    padding-top: 30px;

  }
  #logo {
    font-family: 'Michroma', sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 80px;
    
  }
  #navBarLinks {
    color: white;
    float: right;
    margin-right: 30px;
    font-size: 20px;
  }
  #portfolioNavBar{
    color: white;
  }
  #portfolioNav{
    color: white;
    margin-left: 20px;
  }
  
  
  /*footer*/
  
  footer {
    clear: both;
    /* color: white;
    text-align: center;
    background: black; */
    margin-top: 40px;
    height: 60px;
    /* margin-top: auto; */
    font-family: 'Michroma', sans-serif;
    background-color: #343a40;
    color: white;
    font-size: 20px;
  }
  
  
  /*sidebar*/
  
  .sidebar {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 270px;
    float: right;
    margin-bottom: 10px;
    float: right;
  }
  
  h3,
  .sidebar h2 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    line-height: 22px;
  }
  
  .social {
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-right: 0px;
  }
  
  .social:last-child {
    margin-right: 10px;
  }
  
  #sidebar-connect {
    margin-top: 15px;
  }
  
  /*main*/
  
  #main-container {
    padding-top: 0px;
    
  }
  
  .main-section {
    clear: left;
    width: 40%;
    background: white;
    float: right;
    margin-right: 8%;
    margin-top: 50px;
  }
  
  
  
  #selfies {
    clear: left;
    float: left;
    background-color: white;
    margin-left: 8%;
    margin-top: 10px;
    width: 40%;
    margin-right: 10px;
  }
  
  .selfie {
    width: 100%;
    max-width: 550px;
    height: auto;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(7,26,13,0.67);
  -moz-box-shadow: 0px 0px 15px 2px rgba(7,26,13,0.67);
  box-shadow: 0px 0px 15px 2px rgba(7,26,13,0.67);
  margin-top: 25px;
  }
  
  #headshot {
    margin-bottom: 10px;
  }
  
  #buttons {
    text-align: center;
  }
  
  h4 {
    font-size: 16px;
  }
  
  #resume {
    color: black;
    font-size: 18px;
  }
  
  #connect {
    height: 180px;
    width: auto;
    text-align: center;
    clear: both;
  }
  
  /* Portfolio Page */
  
  #portfolio-header {
    clear: left;
    text-align: center;
    padding-top: 20px;
  }
  
  .container {
    margin: 0 auto;
    width: 85%;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(7,26,13,0.67);
  -moz-box-shadow: 0px 0px 15px 2px rgba(7,26,13,0.67);
  box-shadow: 0px 0px 15px 2px rgba(7,26,13,0.67);
  padding: 0px;
  border: none;
  
  }
  
  a.right.carousel-control {
    opacity: .5;
  }
  
  a.left.carousel-control {
    opacity: .5;
  }
  